# Ignore data folder
data/
results/
.vscode/

# Standard Python .gitignore template
__pycache__/
*.py[cod]
*.class
*.so
*.egg
*.egg-info
.eggs/
*.pyo
*.pyd
*.whl
*.manifest
*.spec
*.db
*.log
*.sqlite3
*.stackdump
.coverage
*.cover
.hypothesis/
*.mo
*.pot
*.py,cover
.tox/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.dll
*.dylib
*.exe
*.o
*.obj
*.pyc
